<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heritage and Culture Page</title>
    <style>
        .hero {
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= heritageSite[0].imageUrl[0] %>');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <link rel="stylesheet" href="/css/show.css">
</head>

<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo"><img src="/img/logo.svg" alt="Taj Mahal"></div>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Discover the Heritage</h1>
            <p>Explore the rich cultural heritage and historical sites.</p>
            <a href="https://asi.payumoney.com/quick/taj" class="btn-primary">Book Ticket</a>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about">
        <!-- First Half -->
        <div class="about-content">
            <div class="about-image">
                <img src="<%= heritageSite[0].imageUrl[1] %>" alt="Taj Mahal">
            </div>
            <div class="about-text">
                <h3>
                    <%= heritageSite[0].name %>
                </h3>
                <h4>Overview</h4>
                <p>
                    <%= heritageSite[0].overview %>
                </p>

                <h4>History and Significance</h4>
                <ul>
                    <li><strong>Earlier History:</strong>
                        <%= heritageSite[0].history.earlyHistory %>
                    </li>
                    <li><strong>Architectural Significance:</strong>
                        <%= heritageSite[0].history.architecturalSignificance %>
                    </li>
                    <li><strong>UNESCO Recognition:</strong>
                        <%= heritageSite[0].history.unescoRecognition %>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Second Half -->
        <div class="about-content">
            <div class="about-text">
                <h4>Visiting Hours</h4>
                <ul>
                    <li><strong>Open:</strong>
                        <%= heritageSite[0].visitingHours.openDays[0] %>
                    </li>
                    <li><strong>Timings:</strong> from <%= heritageSite[0].visitingHours.timings.from %>.00 to <%=
                                heritageSite[0].visitingHours.timings.to %>.00 </li>
                </ul>

                <h4>Ticket Information</h4>
                <ul>
                    <li><strong>Entry Fee:</strong></li>
                    <ul>
                        <li>Indian Citizens: ₹<%= heritageSite[0].ticketInformation.indianCitizens %>
                        </li>
                        <li>Foreign Tourists: ₹<%= heritageSite[0].ticketInformation.foreignTourists %>
                        </li>
                        <li>SAARC/BIMSTEC Citizens: ₹<%= heritageSite[0].ticketInformation.saarcBimstecCitizens %>
                        </li>
                        <li>Children Below 15 Years: <%= heritageSite[0].ticketInformation.childrenBelow15 %>
                        </li>
                    </ul>
                </ul>

                <h4>How to Reach</h4>
                <p>The <%= heritageSite[0].name %> is located in <%= heritageSite[0].location.city %>, approximately <%=
                                heritageSite[0].howToReach.nearestAirport.distanceKm %> km from <%=
                                    heritageSite[0].howToReach.nearestAirport.name %> .It is easily accessible by road,
                                    train and air.</p>
            </div>
            <div class="about-image">
                <img src="<%= heritageSite[0].imageUrl[2] %>" alt="Taj Mahal">
            </div>
        </div>
    </section>
    <section id="map">
        <div class="mapview">
            <div class="pinmap">
                <h2 class="map-title">Map</h2>
                <iframe
                    src="<%=heritageSite[0].iframe.map%>"
                    width="100%" height="100%" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="view">
                <h2 class="view-title">Street View</h2>
                <iframe
                    src="<%=heritageSite[0].iframe.streetView%>"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <!-- Explore Section -->
    <section id="heritage-sites">
        <h2 class="explore-text">Explore Heritage Sites</h2>
        <div class="site-container">
            <a href="/explore/site/66d61baad574c98a7c4ac11f" class="site-card">
                <img src="/img/taj1.jpg" alt="Taj Mahal">
                <div class="card-content">
                    <h3>Taj Mahal</h3>
                    <p>An iconic symbol of love and one of the Seven Wonders of the World.</p>
                </div>
            </a>

            <a href="/explore/site/66d61baad574c98a7c4ac121" class="site-card">
                <img src="/img/qutub.jpg" alt="Qutub Minar">
                <div class="card-content">
                    <h3>Qutub Minar</h3>
                    <p>The tallest brick minaret in the world, showcasing Indo-Islamic architecture.</p>
                </div>
            </a>

            <a href="/explore/site/66d61baad574c98a7c4ac123" class="site-card">
                <img src="/img/sun.jpg" alt="Sun Temple">
                <div class="card-content">
                    <h3>Sun Temple, Konark</h3>
                    <p>A 13th-century temple dedicated to the Sun God, a UNESCO World Heritage Site.</p>
                </div>
            </a>

            <a href="/explore/site/66d61baad574c98a7c4ac126" class="site-card">
                <img src="/img/humpi.jpg" alt="Hampi">
                <div class="card-content">
                    <h3>Hampi</h3>
                    <p>An ancient village with ruins of temples and palaces, a UNESCO World Heritage Site.</p>
                </div>
            </a>
        </div>
    </section>

    <section id="cultures">
        <h2 class="explore-text">Explore Cultures</h2>
        <div class="culture-container">
            <a href="show2.html" class="culture-card">
                <img src="/img/bharat.jpg" alt="Bharatanatyam">
                <div class="card-content">
                    <h3>Bharatanatyam</h3>
                    <p>A classical dance form originating from Tamil Nadu, known for its grace and precision.</p>
                </div>
            </a>

            <a href="show2.html" class="culture-card">
                <img src="/img/rabgoli.jpg" alt="Rangoli">
                <div class="card-content">
                    <h3>Rangoli</h3>
                    <p>A vibrant art form of creating patterns on the floor using colored powders, popular during
                        festivals.</p>
                </div>
            </a>

            <a href="show2.html" class="culture-card">
                <img src="/img/katha.jpg" alt="Kathakali">
                <div class="card-content">
                    <h3>Kathakali</h3>
                    <p>A traditional dance-drama from Kerala, characterized by elaborate costumes and expressive
                        movements.</p>
                </div>
            </a>

            <a href="show2.html" class="culture-card">
                <img src="/img/Bihu-Dance-assam.jpg" alt="Bihu Dance">
                <div class="card-content">
                    <h3>Bihu Dance</h3>
                    <p>A lively folk dance from Assam, performed during the Bihu festival celebrating the Assamese New
                        Year.</p>
                </div>
            </a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <p>© 2024 Heritage and Culture. All rights reserved.</p>
    </footer>

    <script src="/js/show.js"></script>
</body>

</html>